@font-face{
    font-family:Helvetica;
    font-weight: Bold;
    font-size: 65px;
    color: #FFFFFF;
    letter-spacing: 6.5px;
    src:url("../../assets/_GlobalFont/AvenirNextProLT/LinotypeAvenirNextLTProRegular.otf");
}
