.try2 {
    background: #FFFFFF;
    border-radius: 79px;
    border: none;
    color: #000000;
    mix-blend-mode: screen;
    font-size: 18px;
    letter-spacing: 1.8px;
    padding: 20px 63px;
    margin-right: 81px;
    &:hover {
        background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    mix-blend-mode: unset;
    }
}